<div class="row" style="margin-top: 10px">
  <div class="col-12">
    <button class="btn btn-success" style="width: 100%" (click)="onAddMovie()">Add</button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div
      class="col-lg-4 col-md-6 col-sm-12 movie"
      *ngFor="let movie of movies; let i = index"
    >
      <div class="container" style="width: 100%">
        <div class="row" style="margin-top: 20px">
          <div class="col-lg-12" style="text-align: center">
            <div class="img-movie-holder">
              <img [src]="movie.imagePath" [alt]="movie.title" />
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-12">
            <p style="font-size: 20px">
              <span class="fw-bold">Title: </span>"{{ movie.title }}"
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p class="fw-bold" style="font-size: 20px">Description:</p>
            <p>{{ movie.description | shorten }}</p>
          </div>
        </div>
        <div class="row" style="margin-bottom: 20px; text-align: center">
          <div class="col-lg-6">
            <button
              class="btn btn-success button-movie"
              [routerLink]="['movie/detail/', i]"
            >
              Sprawdz
            </button>
          </div>
          <div class="col-lg-6">
            <button class="btn btn-danger button-movie" (click)="onDelete(i)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
